@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:hsl(218, 23%, 16%);
}

h5{
    margin-top: 20px;
    text-align: center;
    visibility: hidden;
}

.advice{
    visibility: hidden;
    font-family: 'Heebo', sans-serif;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 50%;
    height: 350px;
    background-color:hsl(217, 19%, 24%);
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: column;
    box-shadow: 52px 30px 10px 1px rgba(0,0,0,0.79);
    -webkit-box-shadow: 52px 30px 10px 1px rgba(0,0,0,0.79);
    -moz-box-shadow: 52px 30px 10px 1px rgba(0,0,0,0.79);
}

.id-box{
    color: hsl(150, 100%, 66%);
    letter-spacing: 5px;
    /* border: 1px solid black; */
    /* margin: 10px 0; */
}

.advice-box{
    text-align: center;
    color:white;
    /* border: 1px solid green; */
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    /* margin: 20px auto; */
}

.separator{
    /* border:1px solid white; */
    background-image: url('./images/pattern-divider-desktop.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height:10%;
    /* overflow: hidden; */
}

.dice{
    position:relative;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color:aquamarine;
    
    position:absolute;
    bottom:-25px;
}

.dice img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.dice:hover{
    cursor: pointer;
    -webkit-box-shadow:0px 0px 19px 10px rgba(45,255,196,0.9);
-moz-box-shadow: 0px 0px 19px 10px rgba(45,255,196,0.9);
box-shadow: 0px 0px 19px 10px rgba(45,255,196,0.9);
}

.attribution {
    visibility: hidden;
    font-family: 'DynaPuff', cursive;
    width: 100%;
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 12px;
    font-size: 1.2rem;
  }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
    transition:all 0.5s ease-in;
  }
  .attribution a:hover{
    cursor: pointer;
    font-style: italic;
    transform: scale(2);
    -webkit-box-shadow:0px 0px 19px 5px rgba(46,231,255,0.9);
    -moz-box-shadow: 0px 0px 19px 5px rgba(46,231,255,0.9);
    box-shadow: 0px 0px 19px 5px rgba(46,231,255,0.9);
  }



  .lds-hourglass {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }